<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nandra.myschool">

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".MySchoolApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_myschool_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_myschool_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.LoginActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity">

        </activity>

        <activity android:name=".ui.ChatDetailActivity"
            android:parentActivityName=".ui.MainActivity">

        </activity>

        <activity android:name=".ui.ChannelDetailActivity">

        </activity>

        <activity android:name=".ui.ClassroomDetailActivity">

        </activity>

    </application>

</manifest>